@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background: #f2f2f2;
  max-height: 550px;
  font-family: 'Poppins', sans-serif;
  background-color: #1b1b1b;

}
nav{
  background: #1b1b1b;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}
nav ul{
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
nav ul li{
  float: left;
  display: inline-block;
  background: #1b1b1b;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul li a:hover{
  color: cyan;
  border-radius: 5px;
  box-shadow:  0 0 5px #33ffff,
               0 0 10px #66ffff;
}
nav ul ul li a:hover{
  box-shadow: none;
}
nav ul ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid cyan;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
.show,.icon,input{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}
@media all and (max-width: 968px) {
  nav ul{
    margin-right: 0px;
    float: left;
  }
  nav .logo{
    padding-left: 30px;
    width: 100%;
  }
  .show + a, ul{
    display: none;
  }
  nav ul li,nav ul ul li{
    display: block;
    width: 100%;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  .show{
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover{
    color: cyan;
  }
  .icon{
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a{
    padding-left: 40px;
  }
  nav ul ul ul a{
    padding-left: 80px;
  }
  nav ul ul ul li{
    position: static;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  nav ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }
}
.content{
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
header{
  font-size: 35px;
  font-weight: 600;
  padding: 10px 0;
}
p{
  font-size: 30px;
  font-weight: 500;
}
.footer{
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #1b1b1b;
  max-width: 100%;
  max-height: 100px;
  font-family: 'Poppins', sans-serif;
  align-content: center;
}
.copyright{
  padding-left: 48%;
  padding-top: 10px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  word-spacing: 15px;

}
.image{
  max-width: 100%;
  max-height: 550px;
  opacity: 1;
}
@media all and (max-width: 968px){
  .image{
    opacity: 0;
  }
  .footer{
    margin-top: 500px;
  }
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #fff;
  opacity: 1;
}
.centered2{
  opacity: 0;
  top: 60%;
  left: 50%;
  transform: translate(-100%);
  font-size: 1px;
  color: #fff;
}
.image2{
  visibility: all;
  margin: 0%;
}
@media all and (max-width: 968px){
  body{
    background-color: #0fffff;
  }
  .centered{
   opacity: 0;
   font-size: 1px;
   top: 0%;

  }
  .centered2{
  opacity: 1;
  top: 60%;
  right: 50%;
  transform: translate(0.1%);
  margin-left: 30px;
  font-size: 80px;
  color: #1b1b1b;
  text-align: center;
  padding-right: 30px;
  max-width: 100%;
  }

}
.action{
  background-color: #5E5E5E;
}
.movielist{
  margin: 15px;
  display: flex;
  max-width: 100%;


}

.footer2{
  background-color: #1b1b1b;
  padding-bottom: 10px;


}
.movieimage{
  max-height: 250px;
  max-width: 200px;
  display: flex;
  cursor: pointer;
}
.movies {
 list-style: none;
 font-size: 20px;
  
}
.movielinks{
  text-decoration: none;
  color: #fff;
  max-width: 250px;
  text-align: center;
}
.actionmovies{
  padding: 0%;
  margin: 15px 10px;
  max-width: 250px;
  text-align: center;
  position: ;
}
@media all and (max-width: 968px){
  .movielist{
    max-width: 100%;
    display: table-header-group;
    position: relative;
    
  }



  .actionmovies{
    position: relative;
    margin-left: 155px;

  }
  .movieimage{
  max-height: 300px;
  max-width: 250px;
  display: flex;
  cursor: pointer;
  }
  .movies {
   list-style: none;
   font-size: 25px;
   text-align: center;
  
  }
  .movielinks{
    text-align: center;
    margin-right: 35px;
  }
}
.Sci-fi{
  color: #fff;
  font-size: 25px;
  max-width: 100%;
  text-align: center;
}
.ActionMovies{
  color: #fff;
  font-size: 25px;
  max-width: 100%;
  text-align: center;
}
.btndownload{
  border-radius: 5px;
  border: none;
  background-color: ;
  color: ;
  max-width: 250px;
  max-height: 20px;
  font-weight: 500px;
  padding: 0px 15px;
  border-style: none;
  outline: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  margin-right: 17%;
  margin-top: 10px;

}
.downloadlink{
  padding-top: px;
}
.games{
    margin: 15px;
  display: flex;
  max-width: 100%;
}
.gamelist{
   padding: 0%;
  margin: 15px 10px;
  max-width: 250px;
  text-align: center;
  position: ;
}
.footer3{
  background-color: #1b1b1b;
  padding-bottom: 10px;
  margin-top: 150px;


}
@media all and (max-width: 968px){

  .games{
      max-width: 100%;
    display: table-header-group;
    position: relative;
    margin-top: 25px;
  }
  .btndownload{
    margin-left: 15%;
  }
  .gamelist{
    margin-top: 25px;
    margin-left: 130px;
  }
  .btndownload{
    margin-top: 10px;
    max-width: 300px;
    padding: 0px 10px;
  }
}
.app{
  background-color: #5E5E5E;
}
.footer4{
  background-color: #1b1b1b;
  padding-bottom: 10px;
  margin-top: 500px;


}